@tailwind base;
@tailwind components;
@tailwind utilities;
.header {
  @apply w-full h-16 bg-dark-500;
}
.header .header-container {
  @apply container h-full;
}
.header .header-container .header-banner {
  @apply flex w-3/4 h-full mx-auto justify-between;
}
.header .header-container .header-banner .header-logo {
  @apply h-3/4 self-center aspect-square overflow-hidden;
  @apply bg-neutral-400 border-2 border-white rounded-full;
}
.header .header-container .header-banner .header-logo img {
  @apply mx-auto;
}
.header .header-container .header-banner .header-nav {
  @apply flex gap-x-2 items-center;
}
.header .header-container .header-banner .player-login {
  @apply flex text-white border-2 px-3 py-1 bg-dark-400;
  @apply font-semibold rounded-full cursor-pointer text-sm;
}
.header .header-container .header-banner .player-login:hover {
  @apply bg-dark-500;
}

.modal-screen {
  @apply inset-0 fixed bg-dark-500/70 z-70;
  @apply flex justify-center items-center p-4;
}
.modal-screen .modal-container {
  @apply relative bg-dark-400 w-full pt-5 pb-8 px-6 rounded-2xl;
  @apply border-dark-200 border-6;
}
@screen md {
  .modal-screen .modal-container {
    @apply w-1/2;
  }
}
.modal-screen .modal-container .modal-title {
  @apply text-2xl mb-6 text-center font-bold;
}
.modal-screen .modal-container .modal-close {
  @apply absolute -top-1.5 -right-1.5 flex cursor-pointer bg-dark-300;
  @apply w-10 aspect-square border-dark-200 border-6 rounded-full;
}
.modal-screen .modal-container .modal-close:hover {
  @apply bg-dark-400;
}
.modal-screen .modal-container .modal-close::before, .modal-screen .modal-container .modal-close::after {
  @apply bg-black w-5 h-0.8 absolute top-1/2 left-1/2 rounded-full;
  @apply -translate-x-1/2 -translate-y-1/2;
  content: "";
}
.modal-screen .modal-container .modal-close::before {
  @apply rotate-45;
}
.modal-screen .modal-container .modal-close::after {
  @apply -rotate-45;
}
.modal-screen .modal-container .modal-content {
  @apply mt-5 flex flex-col items-center justify-center;
}
.modal-screen .modal-container .modal-content input {
  @apply px-2 py-1 rounded-full text-lg text-black w-40 text-center font-bold;
}
.modal-screen .modal-container .modal-content label {
  @apply flex font-bold text-dark-100 pb-4 text-lg items-center;
}
.modal-screen .modal-container .modal-content label input {
  @apply ml-4 text-left;
}
.modal-screen .modal-container .modal-content .modal-score {
  @apply pt-5 flex font-bold justify-center text-lg items-center cursor-default;
}
.modal-screen .modal-container .modal-content .modal-score span {
  @apply ml-4 px-3 rounded-full border-4 text-black text-center bg-dark-200;
}
.modal-screen .modal-container .modal-content .modal-btn-container {
  @apply mt-6 grid grid-cols-2 gap-x-8 text-center;
}
@screen lg {
  .modal-screen .modal-container .modal-content .modal-btn-container {
    @apply gap-x-12;
  }
}
.modal-screen .modal-container .modal-content .modal-btn {
  @apply bg-dark-300 px-3 py-1 border-4 rounded-full flex items-center justify-center;
  @apply font-semibold text-white cursor-pointer mt-4;
}
.modal-screen .modal-container .modal-content .modal-btn:hover {
  @apply bg-dark-400;
}
.modal-screen .modal-container .modal-content .modal-btn.disabled {
  @apply cursor-none bg-dark-400 text-dark-100;
}
.modal-screen .modal-container .modal-content .modal-btn.reset {
  @apply bg-card-red;
}
.modal-screen .modal-container .modal-content .modal-btn.reset:hover {
  @apply bg-red-800;
}

.career-container {
  @apply w-full px-3 flex flex-col;
}
@screen sm {
  .career-container {
    @apply px-8;
  }
}
@screen md {
  .career-container {
    @apply px-16;
  }
}
.career-container .screen-structure {
  @apply flex flex-col mt-12 justify-center items-center relative bg-screen-light;
  @apply w-full aspect-16/9 self-center rounded-lg mb-30 p-3/100;
}
@screen lg {
  .career-container .screen-structure {
    @apply p-3/200 w-8/12;
  }
}
.career-container .screen-structure::before {
  @apply absolute bottom-0 w-3/10 aspect-3/1 bg-screen-dark translate-y-full -z-10;
  content: "";
}
.career-container .screen-structure::after {
  @apply absolute -bottom-1/5 w-11/20 aspect-20/1 bg-screen-light rounded-t-lg;
  content: "";
}
.career-container .screen-structure .screen-container {
  @apply w-full h-full relative overflow-hidden;
}
.career-container .screen-structure .screen-container .screen-footer {
  @apply absolute w-full h-auto bottom-0 flex transition-all;
  @apply bg-dark-400/70 justify-around p-1 z-20;
}
@screen sm {
  .career-container .screen-structure .screen-container .screen-footer {
    @apply translate-y-full p-3;
  }
}
.career-container .screen-structure .screen-container .screen-footer span {
  @apply flex justify-center items-center aspect-square border border-black;
  @apply w-4 h-4 cursor-pointer rounded-full;
}
@screen sm {
  .career-container .screen-structure .screen-container .screen-footer span {
    @apply w-6 h-6;
  }
}
.career-container .screen-structure .screen-container .screen-footer span .icon-arrow {
  @apply flex justify-center w-full;
}
.career-container .screen-structure .screen-container .screen-footer span .icon-arrow::after {
  @apply pb-0.5;
}
@screen sm {
  .career-container .screen-structure .screen-container .screen-footer span .icon-arrow::after {
    @apply pt-1;
  }
}
.career-container .screen-structure .screen-container .screen-footer span:hover {
  @apply bg-dark-400;
}
.career-container .screen-structure .screen-container .screen-footer span.previous-btn {
  @apply rotate-90;
}
.career-container .screen-structure .screen-container .screen-footer span.next-btn {
  @apply -rotate-90;
}
.career-container .screen-structure .screen-container .screen-footer span.disabled {
  @apply opacity-0 cursor-default;
}
.career-container .screen-structure .screen-container .screen-footer span.progress-bar {
  @apply w-10/12 h-2 self-center bg-white relative justify-start -z-10;
}
.career-container .screen-structure .screen-container .screen-footer span.progress-bar .bar {
  @apply block h-full relative rounded-full bg-red-700 transition-all duration-700;
  content: "";
}
.career-container .screen-structure .screen-container .screen-footer span.progress-bar .bar::after {
  @apply block w-4 h-4 rounded-full bg-red-700 border border-black;
  @apply absolute -right-px top-1/2 -translate-y-1/2 translate-x-1/2 -z-10;
  content: "";
}
.career-container .screen-structure .screen-container:hover .screen-footer {
  @apply translate-y-0;
}

.modal-screen .modal-container.modal-contact {
  @apply bg-dark-300 overflow-hidden;
}
.modal-screen .modal-container.modal-contact .modal-title {
  @apply mb-0;
}
.modal-screen .modal-container.modal-contact .modal-close {
  @apply z-10;
}
.modal-screen .modal-container.modal-contact .part-form {
  @apply flex flex-col self-center;
}
.modal-screen .modal-container.modal-contact .part-form .form-msg {
  @apply text-base font-medium text-center h-4 flex items-center justify-center mt-1;
}
.modal-screen .modal-container.modal-contact .part-form .form-fields {
  @apply flex flex-col my-1;
}
.modal-screen .modal-container.modal-contact .part-form .form-fields label {
  @apply text-base font-semibold text-left mb-1;
}
.modal-screen .modal-container.modal-contact .part-form .form-fields textarea, .modal-screen .modal-container.modal-contact .part-form .form-fields input {
  @apply p-1 rounded-md focus:ring-0 outline-0 border-2 border-dark-400 bg-dark-100;
  @apply text-sm font-medium;
}
.modal-screen .modal-container.modal-contact .part-form .form-fields textarea {
  @apply aspect-2/1;
}
.modal-screen .modal-container.modal-contact .form-checkbox {
  @apply flex items-center mt-2 ml-1;
}
.modal-screen .modal-container.modal-contact .form-checkbox .checkbox {
  @apply accent-dark-300 focus:ring-0 outline outline-2 outline-dark-400 -outline-offset-2;
  @apply w-5 h-5 rounded;
}
.modal-screen .modal-container.modal-contact .form-checkbox .link-checkbox {
  @apply ml-2 text-sm font-medium;
}
.modal-screen .modal-container.modal-contact .form-checkbox .link-checkbox a {
  @apply text-white hover:underline;
}
@screen lg {
  .modal-screen .modal-container.modal-contact .form-checkbox .link-checkbox {
    @apply text-sm;
  }
}
.modal-screen .modal-container.modal-contact button {
  @apply text-base;
}
.modal-screen .modal-container.modal-contact .modal-wait {
  @apply absolute inset-0 bg-dark-500/70 flex justify-center items-center;
}
.modal-screen .modal-container.modal-contact .modal-wait .wait-svg {
  @apply animate-spin w-1/5 aspect-square text-white;
}

.icon-map::after {
  @apply block;
  content: url("/icon/map.svg");
}

.icon-arrow::after {
  @apply block w-3/4;
  content: url("/icon/arrow.svg");
}

.schooling-container {
  @apply w-full px-8 flex flex-col;
}
@screen md {
  .schooling-container {
    @apply px-16;
  }
}
.schooling-container .schooling-timeline {
  @apply flex flex-col pt-12 items-center relative;
}
.schooling-container .schooling-timeline::before {
  @apply absolute top-12 bottom-0 w-4 bg-white rounded-full -z-10;
  content: "";
}
@screen lg {
  .schooling-container .schooling-timeline {
    @apply w-3/4 self-center;
  }
}

.screen-container section {
  @apply flex gap-x-6 h-full absolute inset-0;
}
.screen-container section .screen-title {
  @apply absolute top-0 left-1/2 p-2 -translate-x-1/2 text-center text-xs font-bold w-full;
  @apply justify-center;
}
@screen sm {
  .screen-container section .screen-title {
    @apply text-base;
  }
}
@screen md {
  .screen-container section .screen-title {
    @apply text-lg;
  }
}
@screen lg {
  .screen-container section .screen-title {
    @apply text-xl;
  }
}
@screen xl {
  .screen-container section .screen-title {
    @apply text-2xl;
  }
}
@screen 2xl {
  .screen-container section .screen-title {
    @apply text-3xl;
  }
}
.screen-container section .screen-title span {
  @apply ml-1;
}
.screen-container section .part-content {
  @apply pt-14 h-full flex flex-col justify-around;
}
.screen-container section .part-content .part-subtitle {
  @apply font-semibold text-xs;
}
.screen-container section .part-content .part-text {
  @apply text-justify text-xxs mt-1 text-ellipsis break-words overflow-hidden w-full;
  @apply leading-3;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
@screen xl {
  .screen-container section .part-content .part-text {
    @apply h-16 text-sm;
  }
}
@screen 2xl {
  .screen-container section .part-content .part-text {
    -webkit-line-clamp: 4;
    @apply h-20;
  }
}
.screen-container section .part-content .show-more {
  @apply flex text-xs border border-black p-1 self-center;
}
.screen-container section .screen-logo {
  @apply -translate-y-full translate-x-full top-0 right-0 absolute w-1/12 z-10;
}
.screen-container section:hover .screen-logo {
  @apply translate-x-0 translate-y-0;
}

.screen-container .screen-title {
  @apply text-white font-extrabold uppercase z-10 h-1/10 flex items-center;
}
.screen-container .screen-title span {
  @apply text-[#00B5E0];
}
.screen-container .screen-aldi {
  @apply w-full bg-[#232B76] flex justify-center items-center gap-0 overflow-hidden;
}
.screen-container .screen-aldi::after {
  @apply absolute bottom-0 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-9/10 h-8/10 overflow-hidden;
  content: url("/aldi.svg");
}
.screen-container .screen-aldi .part-content {
  @apply w-9/20 h-8/10 px-4 py-0 relative z-10 flex justify-center;
}
.screen-container .screen-aldi .part-content .part-subtitle {
  @apply flex w-full h-full justify-center items-center text-center;
  @apply font-bold text-xs h-14;
}
@screen sm {
  .screen-container .screen-aldi .part-content .part-subtitle {
    @apply text-lg h-20;
  }
}
@screen xl {
  .screen-container .screen-aldi .part-content .part-subtitle {
    @apply px-8 text-xl h-24;
  }
}
.screen-container .screen-aldi .part-content .part-img {
  @apply hidden;
}
@screen sm {
  .screen-container .screen-aldi .part-content .part-img {
    @apply w-7/25 flex self-start mx-auto;
  }
}
.screen-container .screen-aldi .part-content .part-info {
  @apply font-semibold text-justify flex flex-col justify-between px-2;
  @apply text-black;
}
.screen-container .screen-aldi .part-content .part-info .part-text {
  @apply mt-0 text-xxs;
}
@screen md {
  .screen-container .screen-aldi .part-content .part-info .part-text {
    @apply text-xs;
  }
}
.screen-container .screen-aldi .part-content .part-info .show-more {
  @apply rounded-sm shadow-md font-semibold text-xxs border px-1 mt-1 cursor-pointer;
}
@screen md {
  .screen-container .screen-aldi .part-content .part-info .show-more {
    @apply text-sm border-2 px-2 mt-2;
  }
}
@screen lg {
  .screen-container .screen-aldi .part-content .part-info .show-more {
    @apply border-2 px-2 mt-2;
  }
}
.screen-container .screen-aldi .part-content:nth-child(2) {
  @apply text-white;
}
.screen-container .screen-aldi .part-content:nth-child(2) .show-more {
  @apply text-[#00B5E0] bg-white border-white;
}
.screen-container .screen-aldi .part-content:nth-child(2) .show-more:hover {
  @apply bg-[#00B5E0] text-white;
}
.screen-container .screen-aldi .part-content:nth-child(3) {
  @apply text-[#00B5E0];
}
.screen-container .screen-aldi .part-content:nth-child(3) .show-more {
  @apply text-white bg-[#00B5E0] border-[#00B5E0];
}
.screen-container .screen-aldi .part-content:nth-child(3) .show-more:hover {
  @apply bg-white text-[#00B5E0];
}
.screen-container .screen-aldi .screen-modal {
  @apply absolute w-9/10 aspect-16/9 bg-white z-10 border-4;
  @apply flex flex-col justify-around shadow-2xl shadow-dark-500 p-2;
}
@screen sm {
  .screen-container .screen-aldi .screen-modal {
    @apply w-8/10 p-4 border-8;
  }
}
.screen-container .screen-aldi .screen-modal .modal-title {
  @apply text-xs font-bold text-center;
}
@screen sm {
  .screen-container .screen-aldi .screen-modal .modal-title {
    @apply text-sm;
  }
}
@screen lg {
  .screen-container .screen-aldi .screen-modal .modal-title {
    @apply text-lg;
  }
}
@screen xl {
  .screen-container .screen-aldi .screen-modal .modal-title {
    @apply text-xl;
  }
}
@screen 2xl {
  .screen-container .screen-aldi .screen-modal .modal-title {
    @apply text-2xl;
  }
}
.screen-container .screen-aldi .screen-modal .modal-content {
  @apply text-xxs text-justify;
}
@screen sm {
  .screen-container .screen-aldi .screen-modal .modal-content {
    @apply text-xs;
  }
}
@screen xl {
  .screen-container .screen-aldi .screen-modal .modal-content {
    @apply text-sm;
  }
}
@screen 2xl {
  .screen-container .screen-aldi .screen-modal .modal-content {
    @apply text-lg;
  }
}
.screen-container .screen-aldi .screen-modal .modal-close {
  @apply absolute top-0 right-0 w-6 h-6 rounded-full border-2 cursor-pointer;
  @apply translate-x-1/2 -translate-y-1/2 invert border-[#1a1814] bg-[#0db2ae];
  content: url("/icon/cancel.svg");
}
.screen-container .screen-aldi .screen-modal .modal-close:hover {
  @apply bg-[#11e2dc];
}
@screen xl {
  .screen-container .screen-aldi .screen-modal .modal-close {
    @apply w-8 h-8;
  }
}
.screen-container .screen-legrand {
  @apply bg-[#dc2d20] flex items-center justify-center;
}
.screen-container .screen-legrand .screen-logo {
  @apply p-3 w-28 bg-white/70;
}
.screen-container .screen-legrand .screen-title {
  @apply h-1/5 text-white text-center;
}
.screen-container .screen-legrand .part-content {
  @apply bg-white w-9/10 h-3/4 flex flex-col justify-center pt-0 mt-5 rounded-3xl;
}
@screen sm {
  .screen-container .screen-legrand .part-content {
    @apply mt-8 h-27/40;
  }
}
.screen-container .screen-legrand .part-content .part-info {
  @apply flex flex-col justify-around h-full px-3;
}
@screen md {
  .screen-container .screen-legrand .part-content .part-info {
    @apply px-8;
  }
}
.screen-container .screen-legrand .part-content .show-more {
  @apply hidden;
}
.screen-container .screen-legrand .part-content .part-text {
  @apply flex h-auto font-medium;
}
@screen sm {
  .screen-container .screen-legrand .part-content .part-text {
    @apply text-xs;
  }
}
.screen-container .screen-pixine {
  @apply bg-[#EA675A] flex items-center justify-center;
}
.screen-container .screen-pixine .screen-logo {
  @apply p-2 w-16;
}
.screen-container .screen-pixine .screen-title {
  @apply text-white text-center h-3/20;
}
@screen md {
  .screen-container .screen-pixine .screen-title {
    @apply h-1/5;
  }
}
.screen-container .screen-pixine .part-content {
  @apply w-9/10 flex flex-col justify-center pt-0 mt-2 rounded-3xl;
}
@screen md {
  .screen-container .screen-pixine .part-content {
    @apply mt-8;
  }
}
.screen-container .screen-pixine .part-content .part-info {
  @apply flex flex-col justify-around h-full px-8;
}
.screen-container .screen-pixine .part-content .show-more {
  @apply hidden;
}
.screen-container .screen-pixine .part-content .part-text {
  @apply flex font-medium;
}
@screen sm {
  .screen-container .screen-pixine .part-content .part-text {
    @apply text-xs;
  }
}

.offers-container {
  @apply flex flex-col;
}
.offers-container .card-container {
  @apply py-10 px-6 flex flex-col space-y-6 self-center;
}
@screen sm {
  .offers-container .card-container {
    @apply w-2/3 px-0;
  }
}
@screen md {
  .offers-container .card-container {
    @apply grid grid-cols-3 w-full px-6;
  }
}
@screen lg {
  .offers-container .card-container {
    @apply px-12;
  }
}
.offers-container .card-container .smal-title {
  @apply text-lg font-bold pb-1 text-dark-500;
}
.offers-container .card-container .part {
  @apply w-full flex flex-col justify-center p-4 border-4 text-center text-xs;
  @apply bg-dark-300 border-dark-500 shadow-2xl font-medium rounded-2xl overflow-hidden;
}
@screen md {
  .offers-container .card-container .part {
    @apply rounded-none;
  }
}
@screen lg {
  .offers-container .card-container .part {
    @apply text-sm;
  }
}
.offers-container .card-container .part-left {
  @apply self-end;
}
@screen md {
  .offers-container .card-container .part-left {
    @apply rounded-l-3xl border-r-0;
  }
}
.offers-container .card-container .part-middle {
  @apply bg-dark-200 relative order-last;
}
@screen md {
  .offers-container .card-container .part-middle {
    @apply rounded-t-3xl order-none;
  }
}
.offers-container .card-container .part-middle .part-active {
  @apply absolute inset-0 border-0 translate-y-full transition-all duration-700 flex flex-col;
}
@screen md {
  .offers-container .card-container .part-middle .part-active {
    @apply rounded-t-2xl;
  }
}
.offers-container .card-container .part-middle.active .part-active {
  @apply translate-y-0;
}
.offers-container .card-container .part-right {
  @apply self-end;
}
@screen md {
  .offers-container .card-container .part-right {
    @apply rounded-r-3xl border-l-0;
  }
}
.offers-container .card-container ul.part-list {
  @apply flex flex-col items-center space-y-1.5 pt-2;
}
.offers-container .card-container ul.part-list li {
  @apply flex text-center font-semibold;
}
.offers-container .card-container ul.part-list li::before {
  @apply flex self-center w-5 aspect-square bg-no-repeat bg-center mr-1;
  content: "";
  background-image: url("/icon/confirm.svg");
  background-size: 80%;
}
.offers-container .card-container .part-btn {
  @apply flex space-x-3 justify-center;
}

.card-profile {
  @apply w-2/3 flex flex-col items-center rounded-lg my-8 bg-dark-300 border-2;
}
@screen md {
  .card-profile {
    @apply flex-row;
  }
}
@screen lg {
  .card-profile {
    @apply w-1/2;
  }
}
.card-profile .card-content {
  @apply flex flex-col justify-around p-4 text-center text-lg;
}
@screen md {
  .card-profile .card-content {
    @apply text-justify;
  }
}
.card-profile .card-content .card-title {
  @apply flex flex-col justify-between pb-2 font-bold;
}
.card-profile .card-img {
  @apply w-1/4 my-1 flex-none;
}

.card-schooling {
  @apply flex flex-col items-center rounded-lg mt-8 mb-4 bg-dark-300;
  @apply border-2 relative px-4 pt-10 pb-2 mx-8 shadow-md shadow-black;
}
.card-schooling.active::before {
  @apply w-4 absolute -top-16 -bottom-8 rounded-full bg-blue-200 -z-10;
  content: "";
}
@screen md {
  .card-schooling {
    @apply w-1/2;
  }
  .card-schooling::after {
    @apply w-6 h-6 border-2 absolute top-1/2 -translate-y-1/2 rotate-45 bg-dark-300 -z-10;
    content: "";
  }
  .card-schooling:nth-child(2n) {
    @apply -ml-6 mr-0 self-start;
  }
  .card-schooling:nth-child(2n)::after {
    @apply right-0 translate-x-1/2;
  }
  .card-schooling:nth-child(2n)::before {
    @apply -right-8 translate-x-0.5;
  }
  .card-schooling:nth-child(2n+1) {
    @apply ml-0 -mr-6 self-end;
  }
  .card-schooling:nth-child(2n+1)::after {
    @apply left-0 -translate-x-1/2;
  }
  .card-schooling:nth-child(2n+1)::before {
    @apply -left-8 -translate-x-0.5;
  }
  .card-schooling:nth-child(2n+1) .card-footer {
    @apply flex-row-reverse;
  }
  .card-schooling:nth-child(2n+1) .card-footer span {
    @apply pl-0 pr-6;
  }
  .card-schooling:nth-child(2n+1) .card-footer span i::after {
    @apply left-auto right-0;
  }
}
.card-schooling .card-img {
  @apply rounded-full w-1/6 bg-white absolute top-0 -translate-y-1/2;
  @apply border border-dark-500 shadow-sm shadow-black p-1;
}
@screen md {
  .card-schooling .card-img {
    @apply w-1/5;
  }
}
.card-schooling .card-content {
  @apply pb-2;
}
.card-schooling .card-content .card-title {
  @apply text-lg font-semibold text-center mx-2;
}
.card-schooling .card-footer {
  @apply flex justify-between items-center w-full font-semibold text-sm;
}
@screen md {
  .card-schooling .card-footer {
    @apply text-base;
  }
}
.card-schooling .card-footer .card-location {
  @apply flex flex-col items-center cursor-pointer;
}
.card-schooling .card-footer .card-location p {
  @apply cursor-pointer;
}
.card-schooling .card-footer span {
  @apply pl-4 relative font-medium;
}
.card-schooling .card-footer span i::after {
  @apply w-5 absolute -left-2 -bottom-1;
}

.card-package {
  @apply w-19 h-30 absolute top-1/20 left-27/40 z-20 -translate-x-1/2;
}
@screen lg {
  .card-package {
    @apply w-23;
  }
}
.card-package .playing-card {
  @apply absolute w-16;
}
@screen lg {
  .card-package .playing-card {
    @apply w-20;
  }
}
.card-package .playing-card:nth-child(2) {
  @apply ml-1;
}
.card-package .playing-card:nth-child(3) {
  @apply ml-2;
}
.card-package .playing-card:nth-child(n+4) {
  @apply ml-3;
}
.card-package .playing-card:nth-child(n+4).show .card-front {
  @apply flex;
}
.card-package .playing-card:nth-child(n+4).show .card-back {
  @apply hidden;
}

.player-status {
  @apply absolute top-0 right-0 hidden;
}
.player-status.active {
  @apply block;
}
.player-status.active .bj-token {
  @apply p-1 border-4 bg-hand-token;
}

.player-hand {
  @apply flex w-1/6 z-10 justify-center relative border-2 h-19 bg-hand-bg;
}
.player-hand .playing-card .card-back .card-top,
.player-hand .playing-card .card-back .card-bottom {
  @apply hidden;
}
.player-hand .playing-card .card-front {
  @apply bg-gray-300;
}
.player-hand.dealer .playing-card .card-front, .player-hand.player .playing-card .card-front {
  @apply bg-white;
}
.player-hand .hand-count {
  @apply absolute top-0 -translate-y-full px-2 py-0.5 bg-black/70 font-semibold text-white border-2;
}
.player-hand .hand-count.loose {
  @apply text-red-700 font-extrabold;
}
.player-hand .hand-bet {
  @apply absolute right-0 bottom-0 flex justify-center items-center;
  @apply rounded-full w-16 aspect-square border-4 border-dark-500 overflow-hidden;
  @apply bg-dark-200 font-bold translate-x-1/2 translate-y-1/2 text-sm z-70;
}
.player-hand .hand-bet .hand-score {
  @apply absolute inset-0 bg-dark-400 flex justify-center items-center;
  @apply text-white -translate-y-full transition-all duration-700 text-xs;
}
.player-hand .hand-bet.double {
  @apply text-bet-gold bg-dark-400;
}
.player-hand + .player-hand {
  @apply ml-5;
}
@screen md {
  .player-hand + .player-hand {
    @apply ml-7;
  }
}

.hand-container {
  @apply flex w-full absolute top-2 z-10 justify-center -translate-y-1/2;
}
.hand-container.has-split .player-hand {
  @apply w-3/25;
}
.hand-container:nth-child(-n+5) {
  @apply -translate-x-1/2;
}
.hand-container:nth-child(n+6) {
  @apply translate-x-1/2;
}
.hand-container:nth-child(2), .hand-container:nth-child(5) {
  @apply left-1/2;
}
.hand-container:nth-child(3), .hand-container:nth-child(7) {
  @apply top-1/5;
}
.hand-container:nth-child(4), .hand-container:nth-child(6) {
  @apply top-11/20;
}
.hand-container:nth-child(2) {
  @apply top-1/4 -translate-y-1/2;
}
.hand-container:nth-child(3) {
  @apply left-3/20 rotate-67.5;
}
.hand-container:nth-child(4) {
  @apply left-7/25 rotate-45;
}
.hand-container:nth-child(5) {
  @apply top-3/4;
}
.hand-container:nth-child(6) {
  @apply right-7/25 -rotate-45;
}
.hand-container:nth-child(7) {
  @apply right-3/20 -rotate-67.5;
}
.hand-container:nth-child(8) {
  @apply left-1/2;
}

.bj-container {
  @apply w-full border-6 border-dark-500 aspect-2/1 p-4 pt-0 relative overflow-hidden bg-dark-300;
}
.bj-container.end-game::before {
  @apply block absolute inset-0 bg-dark-500/70 z-30 bg-no-repeat bg-center;
  content: "";
}
.bj-container::after {
  @apply block absolute inset-0 bg-dark-200 z-50 bg-no-repeat bg-center;
  background-image: url("/icon/rotate.svg");
  content: "";
}
@screen md {
  .bj-container::after {
    @apply hidden;
  }
}
@screen lg {
  .bj-container {
    @apply w-10/12;
  }
}
.bj-container .player-money {
  @apply absolute -top-1 -left-1 border-4 border-dark-500 z-50;
  @apply px-2 py-1 font-bold bg-dark-300 z-50;
}
.bj-container .bj-table {
  @apply h-full bg-table-big-border rounded-b-full relative;
}
.bj-container .bj-table::before {
  @apply block absolute inset-8 top-0 rounded-b-full bg-table-border;
  content: "";
}
.bj-container .bj-table::after {
  @apply block absolute inset-12 top-0 rounded-b-full bg-table-center;
  content: "";
}
.bj-container.end-game .player-hand .hand-bet .hand-score {
  @apply translate-y-0;
}
.bj-container .bj-token {
  @apply absolute top-9/20 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full z-30;
  @apply p-1.5 aspect-square border-4 border-dashed border-white bg-black cursor-pointer;
}
@screen lg {
  .bj-container .bj-token {
    @apply p-2 border-6;
  }
}
.bj-container .bj-token .bj-btn {
  @apply px-1.5 aspect-square text-sm font-semibold rounded-full flex items-center;
  @apply border-2 border-dashed border-white text-white;
}
@screen lg {
  .bj-container .bj-token .bj-btn {
    @apply px-2 text-xl;
  }
}
.bj-container .player-action {
  @apply grid grid-cols-4 absolute bottom-0 left-1/2 -translate-x-1/2;
  @apply border-2 border-white bg-dark-300 w-2/5 p-1 z-10;
}
@screen lg {
  .bj-container .player-action {
    @apply w-auto;
  }
}
.bj-container .player-action .bj-btn {
  @apply m-1 p-1 text-white text-sm font-semibold bg-gray-500;
  @apply text-center border-2 border-black cursor-pointer;
}
.bj-container .player-action.active {
  @apply bg-table-border;
}
.bj-container .player-action.active .bj-btn {
  @apply bg-hand-bg;
}
.bj-container .player-action.active .bj-btn:hover {
  @apply bg-table-center;
}
.bj-container .player-action.active .bj-btn.disabled {
  @apply bg-gray-500;
}
.bj-container .player-bet {
  @apply absolute -bottom-1.5 -left-1.5 grid grid-cols-2 gap-3 p-2;
  @apply bg-dark-300 border-6 border-dark-500 z-30;
}
@screen lg {
  .bj-container .player-bet {
    @apply grid-cols-4;
  }
}
.bj-container .player-bet .amount-bet {
  @apply absolute top-0 left-1/2 px-4 border-6 border-dark-500 bg-dark-300;
  @apply -translate-x-1/2 -translate-y-full font-extrabold z-20 cursor-default;
}
.bj-container .player-bet::after {
  @apply absolute bg-dark-400 inset-0 z-30 font-bold text-center;
  @apply flex items-center justify-center text-xl transition-all;
  @apply duration-700;
  content: "Partie en cours";
}
.bj-container .player-bet.active::after {
  @apply translate-y-full;
}
.bj-container .player-bet .bj-token {
  @apply relative w-14 inset-0 translate-y-0 translate-x-0 border-4;
  @apply opacity-60 p-1.5 cursor-pointer;
}
.bj-container .player-bet .bj-token.disabled {
  @apply bg-dark-200 opacity-100 border-black cursor-default;
}
.bj-container .player-bet .bj-token.disabled .bj-btn {
  @apply text-black border-black line-through;
}
.bj-container .player-bet .bj-token:hover {
  @apply opacity-100;
}
.bj-container .player-bet .bj-token .bj-btn {
  @apply justify-center text-xs px-4 font-extrabold;
}
.bj-container .player-bet .bj-token:not(.disabled):nth-child(2) {
  @apply bg-bet-green;
}
.bj-container .player-bet .bj-token:not(.disabled):nth-child(3) {
  @apply bg-bet-blue;
}
.bj-container .player-bet .bj-token:not(.disabled):nth-child(4) {
  @apply bg-bet-purple;
}
.bj-container .player-bet .bj-token:not(.disabled):nth-child(5) {
  @apply bg-bet-dark;
}

.player-bet {
  @apply absolute -bottom-1.5 -left-1.5 grid grid-cols-2 gap-3 p-2;
  @apply bg-dark-300 border-6 border-dark-500 z-30;
}
@screen lg {
  .player-bet {
    @apply grid-cols-4;
  }
}
.player-bet .amount-bet {
  @apply absolute top-0 left-1/2 px-4 border-6 border-dark-500 bg-dark-300;
  @apply -translate-x-1/2 -translate-y-full font-extrabold z-20 cursor-default;
}
.player-bet::after {
  @apply absolute bg-dark-400 inset-0 z-30 font-bold text-center;
  @apply flex items-center justify-center text-xl transition-all;
  @apply duration-700;
  content: "Partie en cours";
}
.player-bet.active::after {
  @apply translate-y-full;
}
.player-bet .bj-token {
  @apply relative w-14 inset-0 translate-y-0 translate-x-0 border-4;
  @apply opacity-60 p-1.5 cursor-pointer;
}
.player-bet .bj-token.disabled {
  @apply bg-dark-200 opacity-100 border-black cursor-default;
}
.player-bet .bj-token.disabled .bj-btn {
  @apply text-black border-black line-through;
}
.player-bet .bj-token:hover {
  @apply opacity-100;
}
.player-bet .bj-token .bj-btn {
  @apply justify-center text-xs px-4 font-extrabold;
}
.player-bet .bj-token:not(.disabled):nth-child(2) {
  @apply bg-bet-green;
}
.player-bet .bj-token:not(.disabled):nth-child(3) {
  @apply bg-bet-blue;
}
.player-bet .bj-token:not(.disabled):nth-child(4) {
  @apply bg-bet-purple;
}
.player-bet .bj-token:not(.disabled):nth-child(5) {
  @apply bg-bet-dark;
}

.bj-token {
  @apply absolute top-9/20 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full z-30;
  @apply p-1.5 aspect-square border-4 border-dashed border-white bg-black cursor-pointer;
}
@screen lg {
  .bj-token {
    @apply p-2 border-6;
  }
}
.bj-token .bj-btn {
  @apply px-1.5 aspect-square text-sm font-semibold rounded-full flex items-center;
  @apply border-2 border-dashed border-white text-white;
}
@screen lg {
  .bj-token .bj-btn {
    @apply px-2 text-xl;
  }
}

.master-container {
  @apply w-full border-6 border-dark-500 aspect-2/1;
  @apply relative overflow-hidden bg-table-big-border p-5;
}
.master-container.end-game::before {
  @apply block absolute inset-0 bg-dark-500/70 z-30 bg-no-repeat bg-center;
  content: "";
}
.master-container::after {
  @apply block absolute inset-0 bg-dark-200 z-100 bg-no-repeat bg-center;
  background-image: url("/icon/rotate.svg");
  content: "";
}
@screen md {
  .master-container::after {
    @apply hidden;
  }
}
@screen lg {
  .master-container {
    @apply w-10/12;
  }
}
.master-container .player-bet {
  @apply absolute top-0 right-0 left-auto bottom-auto w-20 bg-dark-400 flex flex-col z-70;
  @apply border-r-0 border-t-0 w-auto p-4;
}
.master-container .player-bet .amount-bet {
  @apply translate-y-full bottom-0 top-auto;
}
.master-container .player-bet::after {
  @apply translate-y-0;
}
.master-container .player-bet.active::after {
  @apply -translate-y-full;
}
.master-container .player-money {
  @apply absolute -top-1 -left-1 border-4 border-dark-500 z-50;
  @apply px-2 py-1 font-bold bg-dark-300 z-50;
}
.master-container .master-table {
  @apply h-full bg-table-border relative rounded-xl grid grid-cols-2 p-3 pb-10;
}
@screen lg {
  .master-container .master-table {
    @apply pb-20;
  }
}
.master-container .line-container {
  @apply bg-table-center border-4 rounded-full border-dark-500 mx-0.5 my-1.5 py-1 px-20;
  @apply flex justify-around gap-2 justify-self-center;
}
@screen lg {
  .master-container .line-container {
    @apply px-28;
  }
}
@screen xl {
  .master-container .line-container {
    @apply py-2;
  }
}
@screen 2xl {
  .master-container .line-container {
    @apply py-4;
  }
}
.master-container .color-glass {
  @apply border-2 aspect-square border-dark-500 rounded-full h-full relative;
}
.master-container .color-glass::after {
  @apply rounded-full absolute inset-0;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 2rem 0 rgba(31, 38, 135, 0.37);
  content: "";
}
.master-container .player-action {
  @apply w-2/5 h-12 absolute bottom-0 bg-table-center flex justify-around p-1;
  @apply left-0 right-0 mx-auto rounded-full border-table-big-border border-8;
  margin-bottom: 5px;
}
@screen lg {
  .master-container .player-action {
    @apply w-1/2 h-19 border-12 p-2;
  }
}
.master-container .player-action .color-glass {
  @apply cursor-pointer opacity-80 border-4;
}
.master-container .player-action .color-glass:hover {
  @apply opacity-100;
}
@screen lg {
  .master-container .player-action .color-glass {
    @apply border-6;
  }
}
.master-container .player-action .glass-remove, .master-container .player-action .glass-save {
  @apply bg-no-repeat bg-center;
  background-image: url("/icon/cancel.svg");
}
.master-container .player-action .glass-remove::after, .master-container .player-action .glass-save::after {
  @apply opacity-50 bg-dark-500;
}
.master-container .player-action .glass-remove:hover::after, .master-container .player-action .glass-save:hover::after {
  @apply opacity-25;
}
.master-container .player-action .glass-remove {
  @apply bg-cover bg-card-red;
  background-image: url("/icon/cancel.svg");
}
.master-container .player-action .glass-save {
  @apply bg-bet-green;
  background-image: url("/icon/confirm.svg");
  background-size: 65%;
}

.playing-card {
  @apply flex flex-col justify-between overflow-hidden relative pointer-events-none;
  @apply w-12 aspect-2/3 rounded-md border border-black select-none bg-transparent;
  perspective: 100vw;
}
.playing-card .card-inner {
  @apply relative w-full h-full duration-700;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
}
.playing-card.reverse .card-inner, .playing-card .card-back {
  transform: rotateY(180deg);
}
.playing-card .card-front, .playing-card .card-back {
  @apply absolute w-full h-full;
  backface-visibility: hidden;
}
.playing-card .card-front {
  @apply absolute w-full h-full bg-white flex flex-col justify-between;
}
.playing-card .card-front .card-number {
  @apply flex flex-col items-center mx-1;
}
.playing-card .card-front .card-number h1 {
  @apply m-0 flex flex-col items-center text-sm font-bold;
}
.playing-card .card-front .card-number h1::after {
  @apply w-2 h-2;
}
.playing-card .card-front .card-number h1::after, .playing-card .card-front .card-icon::before {
  @apply block bg-center bg-no-repeat -mt-0.5 bg-cover;
  background-image: var(--main-card-icon);
  content: "";
}
.playing-card .card-front .card-icon::before {
  @apply w-4 h-4 mx-auto;
}
.playing-card .card-front .card-header {
  @apply self-start;
}
.playing-card .card-front .card-footer {
  @apply self-end rotate-180;
}
.playing-card .card-back {
  @apply absolute w-full h-full flex flex-col bg-red-700;
  background-image: radial-gradient(circle at 100% 150%, red 25%, white 25%, white 29%, red 29%, red 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, red 25%, white 25%, white 29%, red 29%, red 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, white 10%, red 10%, red 23%, white 23%, white 30%, red 30%, red 43%, white 43%, white 50%, red 50%, red 63%, white 63%, white 70%, transparent 70%, transparent), radial-gradient(circle at 100% 50%, white 5%, red 5%, red 15%, white 15%, white 20%, red 20%, red 30%, white 30%, white 35%, red 35%, red 45%, white 45%, white 50%, transparent 50%, transparent), radial-gradient(circle at 0 50%, white 5%, red 5%, red 15%, white 15%, white 20%, red 20%, red 30%, white 30%, white 35%, red 35%, red 45%, white 45%, white 50%, transparent 50%, transparent);
  background-size: 2rem 1rem;
}
.playing-card .card-back .card-top::before, .playing-card .card-back .card-top::after,
.playing-card .card-back .card-bottom::before, .playing-card .card-back .card-bottom::after {
  @apply flex absolute w-4 h-4 items-center justify-center;
  @apply bg-white rounded-full bg-center bg-no-repeat;
  background-size: 60%;
  content: "";
}
@screen lg {
  .playing-card .card-back .card-top::before, .playing-card .card-back .card-top::after,
  .playing-card .card-back .card-bottom::before, .playing-card .card-back .card-bottom::after {
    @apply w-5 h-5;
  }
}
.playing-card .card-back .card-top, .playing-card .card-back .card-bottom {
  @apply m-4 border-2 border-black flex-1;
}
.playing-card .card-back .card-top {
  @apply mb-0 border-b-0;
}
.playing-card .card-back .card-top::before, .playing-card .card-back .card-top::after {
  @apply top-2;
}
.playing-card .card-back .card-top::before {
  @apply -rotate-45;
  background-image: url("/icon/coeur.svg");
}
.playing-card .card-back .card-top::after {
  @apply rotate-45;
  background-image: url("/icon/pique.svg");
}
.playing-card .card-back .card-bottom {
  @apply mt-0 border-t-0;
}
.playing-card .card-back .card-bottom::before, .playing-card .card-back .card-bottom::after {
  @apply bottom-2;
}
.playing-card .card-back .card-bottom::before {
  @apply -rotate-135;
  background-image: url("/icon/trefle.svg");
}
.playing-card .card-back .card-bottom::after {
  @apply rotate-135;
  background-image: url("/icon/carreau.svg");
}
.playing-card .card-back .card-top::before, .playing-card .card-back .card-bottom::before {
  @apply left-2;
}
.playing-card .card-back .card-top::after, .playing-card .card-back .card-bottom::after {
  @apply right-2;
}

.pique, .trefle {
  @apply text-black;
}

.coeur, .carreau {
  @apply text-card-red;
}

.pique {
  --main-card-icon: url("/icon/pique.svg");
}

.trefle {
  --main-card-icon: url("/icon/trefle.svg");
}

.coeur {
  --main-card-icon: url("/icon/coeur.svg");
}

.carreau {
  --main-card-icon: url("/icon/carreau.svg");
}

html {
  @apply overflow-x-hidden bg-dark-400;
}

#app {
  @apply w-screen min-h-screen;
}

.container {
  @apply flex flex-col items-center;
}

.part-title {
  @apply text-center self-center text-3xl font-bold relative;
}
.part-title::after, .part-title::before {
  @apply absolute h-1.5 bg-dark-500 -left-6 -right-6 -top-2 rounded-full;
  content: "";
}
.part-title::after {
  @apply -bottom-4 top-auto;
}

h1, h2, h3, ul, li, p {
  @apply cursor-default;
}

button {
  @apply flex justify-center items-center px-2 py-1 border-2 self-center mt-4 font-bold;
  @apply rounded-md cursor-pointer text-xs;
}
button span {
  @apply ml-2;
}
button.btn-primary {
  @apply border-white bg-dark-200;
}
button.btn-primary.disabled, button.btn-primary:hover {
  @apply bg-dark-300 border-dark-400;
}
button.btn-primary.disabled {
  @apply cursor-default;
}
button.btn-disabled {
  @apply cursor-not-allowed bg-dark-400 border-dark-500;
}
button.btn-secondary {
  @apply bg-dark-400 border-dark-200;
}
button.btn-secondary:not(.disabled):hover {
  @apply border-dark-400 bg-dark-500 text-white;
}

/*# sourceMappingURL=input.css.map */
