.career-container {
    @apply w-full px-3 flex flex-col;

    @screen sm {
        @apply px-8;
    }

    @screen md {
        @apply px-16;
    }

    .screen-structure {
        @apply flex flex-col mt-12 justify-center items-center relative bg-screen-light;
        @apply w-full aspect-16/9 self-center rounded-lg mb-30 p-3/100;

        @screen lg {
            @apply p-3/200 w-8/12;
        }

        &::before {
            @apply absolute bottom-0 w-3/10 aspect-3/1 bg-screen-dark translate-y-full -z-10;
            content: "";
        }
        &::after {
            @apply absolute -bottom-1/5 w-11/20 aspect-20/1 bg-screen-light rounded-t-lg;
            content: "";
        }

        .screen-container {
            @apply w-full h-full relative overflow-hidden;

            .screen-footer {
                @apply absolute w-full h-auto bottom-0 flex transition-all;
                @apply bg-dark-400/70 justify-around p-1 z-20;

                @screen sm {
                    @apply p-3;
                }
            
                span {
                    @apply flex justify-center items-center aspect-square border border-black;
                    @apply w-4 h-4 cursor-pointer rounded-full;

                    @screen sm {
                        @apply w-6 h-6;
                    }

                    .icon-arrow {
                        @apply flex justify-center w-full;

                        &::after {
                            @apply pb-0.5;

                            @screen sm {
                                @apply pt-1;
                            }
                        }
                    }

                    &:hover {
                        @apply bg-dark-400;
                    }

                    &.previous-btn {
                        @apply rotate-90;
                    }
                    &.next-btn {
                        @apply -rotate-90;
                    }
                    &.disabled {
                        @apply opacity-0 cursor-default;
                    }

                    &.progress-bar {
                        @apply w-10/12 h-2 self-center bg-white relative justify-start -z-10;

                        .bar {
                            @apply block h-full relative rounded-full bg-red-700 transition-all duration-700;
                            content: "";

                            &::after {
                                @apply block w-4 h-4 rounded-full bg-red-700 border border-black;
                                @apply absolute -right-px top-1/2 -translate-y-1/2 translate-x-1/2 -z-10;
                                content: "";
                            }
                        }
                    }
                }
            }
        }
    }
}