.icon-map::after {
    @apply block;
    content: url('/icon/map.svg');
}
.icon-arrow::after {
    @apply block w-3/4;
    content: url('/icon/arrow.svg');
}
.icon-money::after {
    @apply block w-3/4;
    content: url('/icon/money.svg');
}

