.offers-container {
    @apply flex flex-col;

    .card-container {
        @apply py-10 px-6 flex flex-col space-y-6 self-center;

        @screen sm {
            @apply w-2/3 px-0;
        }

        @screen md {
            @apply grid grid-cols-3 w-full px-6;
        }

        @screen lg {
            @apply px-12;
        }
    
        .smal-title {
            @apply text-lg font-bold pb-1 text-dark-500;
        }
    
        .part {
            @apply w-full flex flex-col justify-center p-4 border-4 text-center text-xs;
            @apply bg-dark-300 border-dark-500 shadow-2xl font-medium rounded-2xl overflow-hidden;

            @screen md {
                @apply rounded-none;
            }
            @screen lg {
                @apply text-sm;
            }
        }
    
        .part-left {
            @apply self-end;

            @screen md {
                @apply rounded-l-3xl border-r-0;
            }
        }
        .part-middle {
            @apply bg-dark-200 relative;
            @screen md {
                @apply rounded-t-3xl;
            }

            .part-active {
                @apply absolute inset-0 border-0 translate-y-full transition-all duration-700 flex flex-col;

                @screen md {
                    @apply rounded-t-2xl;
                }
            }

            &.active .part-active {
                @apply translate-y-0;
            }
        }
        .part-right {
            @apply self-end;

            @screen md {
                @apply rounded-r-3xl border-l-0;
            }
        }

        ul.part-list {
            @apply flex flex-col items-center space-y-1.5 pt-2;

            li {
                @apply flex text-center font-semibold;

                &::before {
                    @apply flex self-center w-5 aspect-square bg-no-repeat bg-center mr-1;
                    content: "";
                    background-image: url('/icon/confirm.svg');
                    background-size: 80%;
                }
            }
        }
        .part-btn {
            @apply flex space-x-3 justify-center;
        }
    }
}